<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Success Predictions</title>
</head>
<body>
    <h1>Welcome to NFL Draft Assist</h1>
    <p>Choose a model to analyze:</p>
    <ul>
        <li><a href="{{ url_for('lt') }}">Linear Threshold Model</a></li>
        <li><a href="{{ url_for('ltw') }}">Linear Threshold Weighted Model</a></li>
        <li><a href="{{ url_for('lc') }}">Linear Cluster Model</a></li>
        <li><a href="{{ url_for('lcw') }}">Linear Cluster Weighted Model</a></li>

    </ul>
</body>
</html>